<div class="modal fade" id="newInstance" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">New OpenShift Instance</h4>
      </div>
      <div class="modal-body">
        <p>Each instance within an OpenShift environment will be of one or more of the following types: broker,node,activemq,mongodb,datastore,named. For a complete environment, at least one instance must contain each of these types.</p>
        <%= form_for @project.instances.new, :html => {:role => "form"} do |f| %>
          <div class="well">
            <div class="form-group">
              <%= f.label "Hostname", :class => "control-label" %>
                <%= f.text_field :name, :class => "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label "Types", :class => "control-label" %>
                <%= f.text_field :types, :class => "form-control" %>
                <p class="help-block">Comma-separated list (no spaces) of one or more of: broker,node,activemq,datastore,named.</p>
            </div>
            <div class="form-group">
              <%= f.label "Flavor", :class => "control-label" %>
                <%= f.select :flavor, options_for_select(@flavors, @flavors.first), {}, {:class => "form-control"} %>
            </div>
            <div class="form-group">
              <%= f.label "Floating IP", :class => "control-label" %>
                <%= f.select :floating_ip, options_for_select(@floating_ips, @floating_ips.first), {}, {:class => "form-control"} %>
                <p class="help-block">Externally accessible IP for this instance. Must be allocated to the openstack tenant.</p>
            </div>
            <div class="form-group">
              <%= f.label "Image", :class => "control-label" %>
                <%= f.select :image, options_for_select(@images, @images.first), {}, {:class => "form-control"} %>
            </div>
            <div class="form-group">
              <%= f.label "Root Password", :class => "control-label" %>
                <%= f.text_field :root_password, :class => "form-control", :value => "redhat" %>
            </div>
            <div class="form-group">
              <%= f.label "Gear Size (Node only)", :class => "control-label" %>
                <%= f.text_field :gear_size, :class => "form-control", :value => "small" %>
            </div>
            <div class="form-group">
              <%= f.label "Blank host (no OpenShift)", :class => "control-label" %>
                <%= f.check_box :no_openshift, :class => "form-control", :style => "width:20px" %>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.hidden_field :project_id, :value => project_id %>
          <%= f.submit 'Submit', :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
