<h1>About</h1>
<p>
  This labs application is to be used globally by Red Hat employees (primarily GSS) in need of an easy way to deploy an OpenShift environment for testing purposes. The environments are designed to be created and torn down quickly. The deployment process can handle any type of OpenShift deployment, included HA mongo databases and HA activemq instances.<br><br>

  Users can check out an OpenShift lab to gain access to modify the environment. Templates of environments can be saved for easy creation of simple or complex configurations.
</p>
<h1>How do I use this?</h1>
<p>
  If you just need an environment to quickly reproduce an issue, there is likely already an OpenShift lab with suitable configuration. Simply hit the 'Check out' button at the top right of the lab environment page to check out a lab. Once you have it checked out, ssh to the systems individually and make any necessary changes.<br><br>
  If none of the current configurations suit your needs, feel free to make modifications to the lab after you check it out. You can add, remove, or modify instances in the environment. You can also change the OpenShift version and all the default username/password combinations.<br><br>
<b>NOTE</b>: Changes made to the labs do not take affect immediately. Be sure to use the 'Re-Deploy' button to redeploy the lab environment with your new changes in place.
</p>
<h1>Frequently Asked Questions</h1>
<div class="panel-group" id="accordian">
<% @questions.each do |title, partial_name| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" style="font-size:18px">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= partial_name %>">
          <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<%= title %>
        </a>
      </h3>
    </div>
    <div id="collapse<%= partial_name %>" class="panel-collapse collapse">
      <div class="panel-body">
        <p style="font-size:16px">
        <%= render "welcome/faq/#{partial_name}" %>
        </p>
      </div>
    </div>
  </div>
<% end %>
<br>
<h1>Contacts</h1>
<dl class="dl-horizontal">
  <dt>Administrator:</dt>
  <dd><%= CONFIG[:admin_name] %></dd>
  <dt>Email:</dt>
  <dd><%= CONFIG[:admin_email] %></dd>
  <dt>IRC nick:</dt>
  <dd><%= CONFIG[:admin_irc_nick] %></dd>
  <dt>IRC channel:</dt>
  <dd><%= CONFIG[:irc_channel] %></dd>
</dl>
<hr />
<h3>Where can I submit issues? How can I contribute?</h3>
<p>
  All issues can be submitted on the github repository:<br>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="<%= CONFIG[:github_repo] %>"><%= CONFIG[:github_repo] %></a><br>
  Any contributions can be submitted via forking the repository and submitting a pull request. All contributions are welcome (even typo fixes!).
</p>
