<div class="row">
  <div class="col-md-10">
    <h1>OpenShift Lab: <%= @project.name %></h1>
  </div>
  <div class="col-md-2">
    <% if admin? %>
      <a href="/projects/<%= @project.id %>/edit" class="btn btn-info">Edit</a>
    <% end %>
    <% if @project.checked_out? %>
      <% if current_user and (current_user.id == @project.checked_out_by || current_user.admin?)  %>
        <a href="/projects/<%= @project.id %>/uncheck_out" class="btn btn-warning">Un-check out</a> 
      <% end %>
    <% else %>
      <a href="/projects/<%= @project.id %>/check_out" class="btn btn-primary">Check out</a> 
    <% end %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">
      <% if @project.deployed %>
        <span class="text-success"><span class="glyphicon glyphicon-ok"></span> Environment deployed!</span>
    </h3>
  </div>
</div>
      <% elsif @deployment %>
        <span class="text-info"><span class="glyphicon glyphicon-tasks"></span> <%= @deployment.action.titleize %> in progress, started at <%= parse_date(@deployment.started_time) %>.</span>
    </h3>
  </div>
</div>
      <% else %>
        <% ready, reason = @project.ready? %>
        <% if ready %>
        <span class="text-success"><span class="glyphicon glyphicon-ok"></span> Ready for Deployment!</span>
    </h3>
  </div>
</div>
        <% else %>
        <span class="text-danger"><span class="glyphicon glyphicon-remove"></span> Deployment not ready.</span>
    </h3>
  </div>
  <div class="panel-body">
    <%= reason %>
  </div>
</div>
        <% end %>
      <% end %>
<hr />
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">
      <% if @project.checked_out? %>
        <span class="text-info">Checked out by <%= User.find(@project.checked_out_by).name %> since <%= parse_date(@project.checked_out_at) %></span>
      <% else %>
        <span class="text-success">Not checked out by anyone!</span>
      <% end %>
    </h3>
  </div>
</div>
<hr />
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Instances</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Hostname</td>
          <td>Type(s)</td>
          <td>Floating IP</td>
          <td>Root Password</td>
          <td>Image</td>
          <td>Flavor</td>
          <td>Gear Size</td>
          <td>Deployed</td>
          <td>Reachable</td>
          <td></td>
        </tr>
      </thead>  
      <tbody>
        <% verified_user = current_user %>
        <% instances = @project.instances.sort_by{|i| i.name } %>
        <% instances.each do |inst| %>
          <tr>
            <td><%= inst.name %></td>
            <% if inst.no_openshift %>
              <td><span class="text-muted">Blank host</span></td>
            <% else %>
              <td><%= inst.types.join(", ") %></td>
            <% end %>
            <td><%= inst.floating_ip %></td>
            <td><%= inst.root_password %></td>
            <td><%= inst.image %></td>
            <td><%= inst.flavor %></td>
            <td><%= inst.gear_size if !inst.no_openshift and inst.types.include?("node") %></td>
            <td>
              <% if inst.deployment_completed %>
                <span class="glyphicon glyphicon-ok"></span>
              <% elsif inst.deployment_started %>
                <span class="text-warning">In progress<span>
              <% else %>
                <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
            <td>
              <% if inst.reachable %>
                <a class="btn btn-default reachable_button" instance_id="<%= inst.id %>" title="Last checked: <%= inst.last_checked_reachable ? inst.last_checked_reachable : 'Never' %>">
                  <div class="reachable_button_content" instance_id="<%= inst.id %>">
                    <span class="glyphicon glyphicon-ok" ></span> 
                    Check
                  </div>
                </a>
              <% elsif inst.reachable == false && !inst.last_checked_reachable.nil? %>
                <a class="btn btn-default reachable_button" instance_id="<%= inst.id %>" title="Last checked: <%= inst.last_checked_reachable ? inst.last_checked_reachable : 'Never' %>">
                  <div class="reachable_button_content" instance_id="<%= inst.id %>">
                    <span class="glyphicon glyphicon-remove"></span> 
                    Check
                  </div>
                </a>
              <% else %>
                <a class="btn btn-default reachable_button" instance_id="<%= inst.id %>" title="Last checked: <%= inst.last_checked_reachable ? inst.last_checked_reachable : 'Never' %>">
                  <div class="reachable_button_content" instance_id="<%= inst.id %>">
                    Check
                  </div>
                </a>
              <% end %>
            </td>
            <td>
              <% if verified_user and @project.user_can_edit?(verified_user) %>
              <div class="dropdown">
                <a data-toggle="dropdown" href="#" class="btn btn-default"><span class="glyphicon glyphicon-align-justify"></span></a>
                <ul class="dropdown-menu" role="menu">
                <li><a href="/instances/<%= inst.id %>/start">Deploy</a></li>
                <li><a href="/instances/<%= inst.id %>/stop" data-confirm="Are you sure you want to undeploy <%= inst.fqdn %>?">Undeploy</a></li>
                <li><a href="/instances/<%= inst.id %>/restart" data-confirm="Are you sure you want to redeploy <%= inst.fqdn %>?">Redeploy</a></li>
                <hr />
                <li><a href="#" data-toggle="modal" data-target="#editInstance<%= inst.id %>">Edit</a></li>
                <li><a href="/instances/<%= inst.id %>" data-method="delete" data-confirm="Are you sure you want to delete <%= inst.fqdn %>?">Remove from project</a></li>
                </ul>
              </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% if @project.user_can_edit?(current_user) %>
  <div class="col-md-4">
    <div class="btn-group">
      <% if not @project.all_deployed? %>
        <a href="/projects/<%= @project.id %>/start" class="btn btn-success">Deploy All</a>
      <% end %>
      <% if not @project.none_deployed? %>
        <a href="/projects/<%= @project.id %>/stop" class="btn btn-danger" data-confirm="Are you sure you want to undeploy all <%= @project.name%> instances?">Undeploy All</a>
        <a href="/projects/<%= @project.id %>/restart" class="btn btn-warning" data-confirm="Are you sure you want to redeploy all <%= @project.name %> instances?">Redeploy All</a>
      <% end %>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <a class="btn btn-default reachable_button_all" instance_ids="<%= @instance_id_list.join(',') %>" >Check all for reachability</a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-default" data-toggle="modal" data-target="#newTemplate" id="new_template_button">
      <div id="new_template_button_content">Save to template</div>
    </a>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#newInstance">Add New Instance</a>
  </div>
  <% end %>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">OpenStack Config</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <dl class="dl-horizontal">
            <dt>Tenant Name:</dt>
            <dd><%= @project.name %></dd>
            <dt>Domain:</dt>
            <dd><%= @project.domain %></dd>
            <dt>Network Name:</dt>
            <dd><%= @project.network %></dd>
            <dt>Security Group:</dt>
            <dd><%= @project.security_group %></dd>
          </dl>
        </div>
        <div class="col-md-6">
          <dl class="dl-horizontal">
            <dt>Max Instances:</dt>
            <dd><%= @limits[:max_instances] %></dd>
            <dt>Used Instances:</dt>
            <dd><%= @limits[:used_instances] %></dd>
            <dt>Max CPUs:</dt>
            <dd><%= @limits[:max_cpus] %></dd>
            <dt>Used CPUs:</dt>
            <dd><%= @limits[:used_cpus] %></dd>
            <dt>Max RAM:</dt>
            <dd><%= @limits[:max_ram] %></dd>
            <dt>Used RAM:</dt>
            <dd><%= @limits[:used_ram] %></dd>
          </dl>
        </div>
        <a data-toggle="modal" data-target="#destroy_all_warning_modal" class="btn btn-danger">Destroy all instances on backend</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Credentials</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>OpenShift Username:</dt>
          <dd><%= @project.openshift_username %></dd>
          <dt>OpenShfit Password:</dt>
          <dd><%= @project.openshift_password %></dd>
          <dt>Mcollective Username:</dt>
          <dd><%= @project.mcollective_username %></dd>
          <dt>Mcollective Password:</dt>
          <dd><%= @project.mcollective_password %></dd>
          <dt>Activemq Admin Pass:</dt>
          <dd><%= @project.activemq_admin_password %></dd>
          <dt>Activemq User Pass:</dt>
          <dd><%= @project.activemq_user_password %></dd>
          <dt>Mongodb Username:</dt>
          <dd><%= @project.mongodb_username %></dd>
          <dt>Mongodb Password:</dt>
          <dd><%= @project.mongodb_password %></dd>
          <dt>Mongodb Admin User:</dt>
          <dd><%= @project.mongodb_admin_username %></dd>
          <dt>Mongodb Admin Pass:</dt>
          <dd><%= @project.mongodb_admin_password %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="destroy_all_warning_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Are you sure you want to remove all instances on the backend?</h3>
      </div>
      <div class="modal-body">
        This will remove any instances in this tenant that were created on the openstack backend inside and outside of this application. All instances in this project will be un-depoyed.<br>
        There are <b><%= @project.instances.count %></b> instances in this application.<br>
        There are <b><%= @limits[:used_instances] %></b> instances on the openstack backend.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="/projects/<%= @project.id %>/destroy_on_backend" class="btn btn-danger">Destroy all</a>
      </div>
    </div>
  </div>
</div>
<% if current_user and (@project.checked_out_by == current_user.id || current_user.admin?) %>
  <%= render :template => "instances/new", :locals => {:project_id => @project.id} %>
  <%= render :template => "templates/new", :locals => {:project_id => @project.id, :template => @template} %>
<% end %>
<% @project.instances.each do |inst| %>
  <% next if inst.id.nil? %>
  <%= render :template => "instances/edit", :locals => {:project_id => @project.id, :inst => inst} %>
<% end %>
