<div class="modal fade" id="editInstance<%= @instance.id %>" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Edit V3 OpenShift Instance</h4>
      </div>
      <div class="modal-body">
        <p>Each instance within an OpenShift environment will be of one or more of the following types: broker,node,activemq,mongodb,datastore,named. For a complete environment, at least one instance must contain each of these types.</p>
        <%= form_for @instance, :html => {:role => "form"} do |f| %>
          <div class="well">
            <div class="form-group">
              <%= f.label "Hostname", :class => "control-label" %>
                <%= f.text_field :name, :class => "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label "Types", :class => "control-label" %><br>
              <% ["master","named","node", "router"].each do |inst_type| %>
              <label class="checkbox-inline" for="instance">
                <%= f.check_box :types, {:multiple => true, :class => "edit_instance_check_boxes", :v3_instance_id => @instance.id}, inst_type, nil %><%= inst_type.titleize %>
              </label>
              <% end %><br>
              <label class="checkbox-inline" for="instance"> 
                <%= f.check_box :no_openshift, {:class => "edit_instance_check_box_no_openshift", :v3_instance_id => @instance.id}, true, false %>Blank host (no OpenShift)
              </label> 
            </div>
            <div class="form-group">
              <%= f.label "Flavor", :class => "control-label" %>
                <%= f.select :flavor, options_for_select(@flavors, @instance.flavor), {}, {:class => "form-control"} %>
            </div>
            <div class="form-group">
              <%= f.label "Floating IP", :class => "control-label" %>
                <%= f.select :floating_ip, options_for_select(@floating_ips + [@instance.floating_ip], @instance.floating_ip), {}, {:class => "form-control"} %>
                <p class="help-block">Externally accessible IP for this instance. Must be allocated to the openstack tenant.</p>
            </div>
            <div class="form-group">
              <%= f.label "Image", :class => "control-label" %>
                <%= f.select :image, options_for_select(@images, @instance.image), {}, {:class => "form-control"} %>
            </div>
            <div class="form-group">
              <%= f.label "Root Password", :class => "control-label" %>
                <%= f.text_field :root_password, :class => "form-control", :value => @instance.root_password %>
            </div>
            <div class="form-group">
              <%= f.label "Docker Storage (in GB)", :class => "control-label" %>
                <%= f.text_field :volume_storage_gb, :class => "form-control", :value => @instance.volume_storage_gb %>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.hidden_field :v3_project_id, :value => v3_project_id %>
          <%= f.submit 'Submit', :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
