<h1>OpenStack Lab System: <%= @lab.name %></h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-11">
        <h3 class="panel-title">Details</h3>
      </div>
      <div class="col-md-1">
        <a href="/labs/<%= @lab.id %>/edit" class="btn btn-info">Edit</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Host</dt>
      <dd><%= @lab.controller %></dd>
      <dt>Region</dt>
      <dd><%= @lab.geo %></dd>
      <dt>Username</dt>
      <dd><%= @lab.username %></dd>
      <dt>API URL</dt>
      <dd><%= @lab.api_url %></dd>
      <dt>Password</dt>
      <dd><%= @lab.password %></dd>
      <dt>Default tenant</dt>
      <dd><%= @lab.auth_tenant %></dd>
      <dt>Created at</dt>
      <dd><%= @lab.created_at %></dd>
    </dl>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-10">
    <h2>Projects (OpenShift Lab Environments)</h2>
  </div>
  <div class="col-md-2">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#newProject">Add Project</a>
  </div>
</div>
<div class="panel-group" id="accordian">
  <% @lab.projects.each do |project| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <div class="row">
            <div class="col-md-6">
              <a data-toggle="collapse" data-parent="#accordian" href="#collapse<%= project.id%>">
                <h4><%= project.name %></h4>
              </a>
            </div>
            <div class="col-md-6">
              <p class="text-right"><a href="/projects/<%= project.id %>" class="btn btn-default">View Project Page</a></p>
            </div>
          </div>
        </h4>
      </div>
      <div id="collapse<%= project.id %>" class="panel-collapse collapse">
        <div class="panel-body">
          <p class="lead">Instance count: <%= project.instances.count %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= render :template => "projects/new", :locals => {:@project => Project.new, :lab_id => @lab.id} %>
